In [1]:
# Student Name: Lim Hooi Ern
# Student ID: B230060A

In [2]:
import pandas as pd

coffee_df = pd.read_csv('coffee.csv')

coffee_df

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,1/1/2023,7:06:11,2,5,Lower Manhattan,32,3.00,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,1/1/2023,7:08:56,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,1/1/2023,7:14:04,2,5,Lower Manhattan,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,1/1/2023,7:20:24,1,5,Lower Manhattan,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,1/1/2023,7:22:41,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
...,...,...,...,...,...,...,...,...,...,...,...
149111,149452,30/6/2023,20:18:41,2,8,Hell's Kitchen,44,2.50,Tea,Brewed herbal tea,Peppermint Rg
149112,149453,30/6/2023,20:25:10,2,8,Hell's Kitchen,49,3.00,Tea,Brewed Black tea,English Breakfast Lg
149113,149454,30/6/2023,20:31:34,1,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg
149114,149455,30/6/2023,20:57:19,1,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino
149115,149456,30/6/2023,20:57:19,2,8,Hell's Kitchen,64,0.80,Flavours,Regular syrup,Hazelnut syrup

In [7]:
import pandas as pd

total_order_df = coffee_df.groupby(['product_category', 'product_type'])['transaction_qty'].sum().reset_index()

total_order_df = pd.DataFrame(total_order_df)

# Rename columns
total_order_df.columns = ['category', 'product', 'total_order']

total_order_df

              category                product  total_order
0               Bakery               Biscotti         5788
1               Bakery                 Pastry         6961
2               Bakery                  Scone        10465
3              Branded               Clothing          221
4              Branded             Housewares          555
5               Coffee       Barista Espresso        24943
6               Coffee            Drip coffee        12891
7               Coffee  Gourmet brewed coffee        25973
8               Coffee  Organic brewed coffee        13012
9               Coffee  Premium brewed coffee        12431
10        Coffee beans         Espresso Beans          319
11        Coffee beans          Gourmet Beans          366
12        Coffee beans            Green beans          134
13        Coffee beans      House blend Beans          183
14        Coffee beans          Organic Beans          420
15        Coffee beans          Premium Beans          406
16  Drinking Chocolate          Hot chocolate        17457
17            Flavours          Regular syrup         7606
18            Flavours       Sugar free syrup         2905
19           Loose Tea              Black tea          303
20           Loose Tea               Chai tea          443
21           Loose Tea              Green tea          159
22           Loose Tea             Herbal tea          305
23  Packaged Chocolate     Drinking Chocolate          266
24  Packaged Chocolate      Organic Chocolate          221
25                 Tea       Brewed Black tea        17462
26                 Tea        Brewed Chai tea        26250
27                 Tea       Brewed Green tea         8697
28                 Tea      Brewed herbal tea        17328

In [ ]:
import matplotlib.pyplot as plt
#import seaborn as sns

# Plot the total orders for each product
plt.figure(figsize=(9, 7))
plt.barh(total_order_df['product'], total_order_df['total_order'])

# Adding labels and title
plt.xlabel('Total Orders')
plt.ylabel('Product')
plt.title('Total Orders by Product Type')

# Show the plot
plt.show()
plt.savefig("Totalorders_Product.pdf")